<div class="row">
  <div class="col-12 my-4">
    <h2 class="text-center text-muted">Sign Up</h2>
    <!-- {{ signUpData | json }} -->
    <hr class="divider" />
  </div>
  <div class="col-6 mx-auto">
    <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="signUpData.email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="signUpData.password"
        />
      </div>
      <p>
        <a class="btn btn-link" [routerLink]="['/auth/sign-up']">Sign In</a>
      </p>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
