<div class="row">
  <div class="col-12 my-4">
    <h2 class="text-center text-muted">Sign Up</h2>
    <!-- {{ signUpData | json }} -->
    <hr class="divider" />
  </div>
  <div class="col-6 mx-auto">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="alert alert-danger" *ngIf="fireAuthService.hasError">
        <p class="m-0">{{ fireAuthService.hasError }}</p>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <em class="required" *ngIf="validateEmail()">Required</em>
        <input
          type="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': validateEmail() }"
          id="email"
          name="email"
          formControlName="email"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <em class="required" *ngIf="validatePassword()">Required</em>
        <input
          type="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': validatePassword() }"
          id="password"
          name="password"
          formControlName="password"
        />
      </div>
      <p>
        <a class="btn btn-link" [routerLink]="['/auth/sign-up']">Sign In</a>
      </p>
      <span
        (mouseenter)="mouseOverSignUpButton = true"
        (mouseleave)="mouseOverSignUpButton = false"
      >
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="signUpForm.invalid"
        >
          Sign Up
        </button>
      </span>
    </form>
  </div>
</div>
