<div class="container-fluid">
  <h1>SPA - Single Page Application</h1>

  <h2>JIT - Just in Time Compilation</h2>
  <h2>AOT - Ahead of Time Compilation</h2>

  <button (click)="changeComponent(account.title)" class="btn btn-primary">
    Show Account
  </button>
  <button
    (click)="changeComponent(dashboard.title)"
    class="btn btn-primary ms-1"
  >
    Show Dashboard
  </button>
  <app-account *ngIf="currentPage.title === account.title"></app-account>
  <app-dashboard *ngIf="currentPage.title === dashboard.title"></app-dashboard>

  <hr />
  <app-product-list></app-product-list>
</div>
