<div class="row mb-4">
  <div class="col-4">
    <h3 class="text-muted">Product List</h3>

    <a class="btn btn-info" [routerLink]="['add']">Add new product</a>
  </div>
</div>
<div class="row px-3">
  <button class="btn btn-warning col-2" (click)="toggleImages()">
    {{ showImages ? "Hide" : "Show" }} Images
  </button>
  <div class="col-4">
    <input type="search" class="form-control" [(ngModel)]="filterValue" />
  </div>
  <div class="col-6">
    <span>Filter By</span>: <b>{{ filterValue }}</b>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product Name</th>
      <th>Product Code</th>
      <th>Price</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredProducts">
      <td>
        <img
          [src]="item.imageUrl"
          [alt]="item.productName"
          [style.height.px]="imageHeight"
          class="rounded img-thumbnail"
          *ngIf="showImages"
        />
      </td>
      <td>
        <a
          [routerLink]="['edit/', item.productCode]"
          (click)="onProductEdit(item)"
        >
          {{ item.productName | lowercase }}
        </a>
      </td>
      <td>{{ item.productCode | uppercase | convertToSpace: "-" }}</td>
      <td>{{ item.price | currency: "USD":"symbol":"1.2-2" }}</td>
      <td>
        <app-rating
          [rating]="item.rating"
          (onChange)="onRatingChange($event)"
        ></app-rating>
      </td>
    </tr>
  </tbody>
</table>
