$myred: red;
$basePadding: 20px;
$borderWidth: 3px;

.title {
  color: lightgreen;
}

h2 {
  color: $myred;
}

p {
  color: $myred;
  border: $borderWidth solid $myred;
  padding: $basePadding;
}

.list-group-item {
  cursor: pointer;
}
