<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">NG App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
          >Home</a
        >
        <a
          class="nav-link"
          [routerLink]="['/products']"
          routerLinkActive="active"
          >Products</a
        >
        <a
          class="nav-link"
          [routerLink]="['/articles']"
          routerLinkActive="active"
          >Articles</a
        >
      </div>

      <div
        class="navbar-nav"
        *ngIf="(fireAuthService.currentUser$ | async)?.uid"
      >
        <a
          class="nav-link"
          [routerLink]="['/auth/dashboard']"
          routerLinkActive="active"
          >Dashboard</a
        >
        <a
          class="nav-link"
          [routerLink]="['/auth/account']"
          routerLinkActive="active"
          >Account</a
        >
        <button class="btn btn-primary" (click)="onLogOut($event)">
          Log Out
        </button>
      </div>

      <div
        class="navbar-nav"
        *ngIf="!(fireAuthService.currentUser$ | async)?.uid"
      >
        <a
          class="nav-link"
          [routerLink]="['/auth/sign-in']"
          routerLinkActive="active"
          >Sign In</a
        >
        <a
          class="nav-link"
          [routerLink]="['/auth/sign-up']"
          routerLinkActive="active"
          >Sign Up</a
        >
      </div>
      <div class="navbar-nav">
        <button
          class="btn"
          *ngFor="let lang of langs"
          (click)="onChangeLanguage(lang)"
          [class.btn-dark]="lang === (activeLang$ | async)?.activeLang"
        >
          {{ lang }}
        </button>
      </div>
    </div>
  </div>
</nav>
